* {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

#navbar {
	border-radius: 0;
	height: 50px;
	overflow: hidden;
}

main {
	padding-top: 70px;
}

#editor {
	padding-top: 50px;
	height: 100%;
	width: 100%;
	background-color: #333333;
	color: #f5f5f5;
}

#editor #wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#editor .column {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#editor .column#col-1 {
	left: 0;
	right: 90vw;
}

#editor .column#col-2 {
	left: 10vw;
	right: 45vw;
}

#editor .column#col-3 {
	left: 55vw;
	right: 0;
}

#editor .resizer {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	cursor: col-resize;
	z-index: 50;
}

#editor #filestructure {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: auto;
}

#editor #filestructure ul {
	list-style: none;
	padding-left: 1em;
}

#editor #filestructure > ul {
	padding-left: 0;
}

#editor #filestructure span {
	display: block;
	cursor: pointer;
}

#editor #filestructure span:hover {
	color: #E2CC66;
}

#editor .workspace {
	width: 100%;
	height: 100%;
}

#editor .workspace textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: monospace;
	tab-size: 2;
	resize: none;
}

#editor .workspace .CodeMirror {
	width: 100%;
	height: 100%;
}

#editor #chat {
	position: fixed;
	z-index: 100;
	right: 0;
	bottom: 0;
	background-color: #F5F5F5;
	color: #3e3e3e;
	width: 300px;
}

#editor #chat > * {
	padding: 10px;
}

#editor #chat .head {
	background-color: #5D99CC;
	color: #f5f5f5;
	cursor: pointer;
	font-size: 20px;
	height: 40px;
}

#editor #chat .body {
	height: 300px;
	overflow-y: scroll;
}

#editor #chat .message .sender {
	display: block;
	font-weight: bold;
}

#editor #chat .footer textarea {
	width: 100%;
	resize: vertical;
}

#editor #chat,
#editor #chat .body,
#editor #chat .footer {
	transition: all 0.25s ease-in-out;
}

#editor #chat.closed {
	width: 40px
}

#editor #chat.closed .body,
#editor #chat.closed .footer {
	visibility: hidden;
	height: 0;
	padding: 0;
}

#editor .workspace .tabs {
	min-height: 30px;
}

#editor .workspace .tab {
	display: inline-block;
	padding: 5px 10px;
	margin: 2px 1px 0 1px;
	color: #9D9D9D;
	background-color: #1E1E1E;
	cursor: pointer;
	min-width: 100px;
}

#editor .workspace .tab.active {
	color: #F5F5F5;
}

#editor .workspace .tab:hover,
#editor .workspace .tab.active:hover {
	color: #E2CC66;
}

.context-menu {
	position: fixed;
	z-index: 100;
	min-width: 100px;
	background-color: #F5F5F5;
	color: #3E3E3E;
}

.context-menu.closed {
	visibility: hidden;
}

.context-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.context-menu li {
	cursor: pointer;
	padding: 2px;
}

.context-menu li:hover {
	background-color: #E2CC66;
}
